.container {
  background-color: #d8cfcf;
  display: grid;
  height: 100vh;
}

.f1{
  background-color: #a20909;
  border-radius: 1vw;
  margin: 0.5vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  

}

.f2{
  background-color: #cb1c1c;
  border-radius: 1vw;
  margin: 0.5vw;
}

.f3{
  background-color: #ee3030;
  border-radius: 1vw;
  margin: 0.5vw;
}

.f1_c1{
  background-color: #f15208;
  border-radius: 1vw;
  margin: 0.5vw;
  height: 95%;
  width: 95%;
}

.f1_c2{
  background-color: #db4906;
  border-radius: 1vw;
  margin: 0.5vw;
  height: 95%;
  width: 98%;

}